* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  background-color: black;
}

.image{
  position:relative;
  height: 100vh;

}

.image1{
  position:relative;
  height: 350vh;

}

.image3{
  position:relative;
  height: 300vh;

}


.content{
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  width: 100%;
  height:100vh; 
}

